<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.nature.com/articles/s41560-021-00786-w#citeas">Semi-solid alkali metal electrodes enabling high critical current densities in solid electrolyte batteries</a>.
			</span><br />
			<span class="authors">
				Richard J.-Y. Park, Christopher M. Eschler, Cole D. Fincher, Andres F. Badel, Pinwen Guan, Matt Pharr, Brian W. Sheldon, W. Craig Carter, Venkatasubramanian Viswanathan & Yet-Ming Chiang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Energy</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
